out/
.DS_Store
.vscode/
web/node_modules
web/package-lock.json
cpuprof.out
memprof.out
tmp/
out_bkp/
out_def/
out_bacteria/
out/
**/.classpath
**/.project
**/.settings
task.md
biobtree
notes.txt
*.txt
*.log
test_data/usecases/*
test_data/vegeta/input.txt
test_data/vegeta/results.bin
test_data/vegeta/*.html
test_data/postman/*test_run.json
test_data/scratch.go
genomes_ensembl_bacteria.json
genomes_ensembl.json
api.php
/ensembl
/website
/conf
*.json